<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page_title}}</title>
     <meta name="description" content={{description}}>
  <meta property="og:url" content="https://python-cloudrun-easystart-y5xoeqxu4a-as.a.run.app/">
  <meta property="og:type" content="website">
  <meta property="og:title" content=" Flask on Google Cloud Run 🎉">
  <meta property="og:description" content={{description}}>
  <meta property="og:image" content={{image}}>

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="python-cloudrun-easystart-y5xoeqxu4a-as.a.run.app">
  <meta property="twitter:url" content="https://python-cloudrun-easystart-y5xoeqxu4a-as.a.run.app/">
  <meta name="twitter:title" content=" Flask on Google Cloud Run 🎉">
  <meta name="twitter:description" content={{description}}>
  <meta name="twitter:image" content={{image}}>
    <style>
        body {
            margin: 0;
            font-family: 'sans-serif';
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            padding: 10px;
        }
        h1 {
            font-size: 44px;
            font-family:'arial';
            color: #0079c1;
        }
        div {
            font: size 22px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div style="display:flex; flex-direction:column;">
    <h1>{{content}}</h1>
    <div>{{ message }}</div>
    <article>
{% markdown %}
 {{ md }}
{% endmarkdown %}
</article>
    </div>
    
</body>
</html>