<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page_title}}</title>
    <style>
        body {
            margin: 0;
            font-family: 'sans-serif';
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            padding: 10px;
        }
        h1 {
            font-size: 44px;
            font-family:'arial';
            color: #0079c1;
        }
        div {
            font: size 22px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div style="display:flex; flex-direction:column;">
    <h1>{{content}}</h1>
    <div>{{ message }}</div>
    <article>
{% markdown %}
 {{ md }}
{% endmarkdown %}
</article>
    </div>
    
</body>
</html>