<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page_title}}</title>
    <style>
        body {
            margin: 0;
            font-family: 'sans-serif';
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }
        h1 {
            font-size: 44px;
            font-family:'arial';
            color: #0079c1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>{{content}}</h1>
</body>
</html>